{
  "nodeinfo": {
    "hostname": "{{ ffsh_map_name }}",
    "hardware": {
      "model": "Gateway"
    },
    "owner": {
      "contact": "{{ owner }}"
    },
    "system": {
      "site_code": "ffsh",
      "role": "gateway"
    },
    "pages": [
      "http://start.ffggrz/",
      "http://start.ffggrz.de/"
    ]
  }
}