# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ["127.0.0.1:9093"]

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "/etc/prometheus/alert_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "blackbox-http"

    metrics_path: /probe
    params:
      module: [http_2xx]

    static_configs:
{% for target in groups['gateways'] + groups['services'] %}
      - targets: ["{{ hostvars[target].blackbox_http_url }}"]
        labels:
          instance: "{{ target }}"
          target: "{{ target }}"
{% endfor %}

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: "gateways"

    metrics_path: stats/metrics
    scheme: https
    basic_auth:
      username: {{ vault_secrets.prometheus.user | to_json }}
      password: {{ vault_secrets.prometheus.password | to_json }}

    static_configs:
      - targets: ["beste.freifunk-suedholstein.de", "brunsbach.freifunk-suedholstein.de", "trave.freifunk-suedholstein.de"]

  - job_name: "ffshmon"

    metrics_path: /ffshmon/metrics
    scheme: https

    static_configs:
      - targets: ["beste.freifunk-suedholstein.de", "brunsbach.freifunk-suedholstein.de", "trave.freifunk-suedholstein.de"]

  - job_name: "services"

    metrics_path: stats/metrics
    scheme: https

    static_configs:
      - targets: ["mail.freifunk-suedholstein.de", "map.freifunk-suedholstein.de", "freifunk-suedholstein.de"]
